.footer-table {
  display: flex;
  width: 100%;
  display: flex;
  width: 1248px;
  height: 245.73px;
  padding: 48px 60px;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
}

.footer-table .table {
  display: flex;
  width: 352px;
  height: 149.73px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 11.99px;
}

.footer-taable .table-last {
  display: flex;
  width: 352px;
  height: 88.61px;
  padding-bottom: 0.01px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 11.99px;
}

.footer-table .table .table-list-head {
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  font-size: 15.3px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.3px; /* 100% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-table .table .table-list {
  display: flex;
  width: 352px;
  height: 110.44px;
  padding: 10px 106.11px 11.81px 106.09px;
  flex-direction: column;
  align-items: center;
  gap: 21.82px;
}

.footer-table .table .table-list a {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 12.4px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.82px; /* 200.161% */
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.footer-table .table .table-list a:hover {
  color: #db9457;
  transition: all 1s ease;
}

.footer-foot {
  width: 100%;
  height: 87.98px;
  align-items: center;
}

.footer-foot div p {
  color: #fff;
  font-family: "Raleway";
  font-size: 10.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.85px; /* 175% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
