.home-navbar {
  width: 100%;
  height: 860px;
  display: flex;
  background: url("/public/img/amaya-banner.png") lightgray 0px 0px / 100% 100%
    no-repeat;
  background-size: cover;
}

.home-navbar .navbar-container {
  /* margin-top: 35px; */
  width: 100%;
  height: 642px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-navbar .top-add {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #242434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-navbar .top-add .top-add-content {
  min-width: 1300px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .top-add .top-add-content .top-content-text {
  color: #fff;
  font-family: "Raleway";
  font-size: 11.9px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.75px; /* 250% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home-navbar .navbar-cover {
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 24px 0px rgba(10, 10, 20, 0.06);
  z-index: 99999999;
}

.home-navbar .navbar-container .menu {
  min-width: 1300px;
  height: 50px;
  z-index: 10000;
}

.home-navbar .navbar-container .menu .login-button {
  height: 44px;
  border: 2px solid #db9457;
  padding: 13px 37.695px 14.75px 38px;
  background: #fff;
  color: #666;
  text-align: center;
  font-family: "Raleway";
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.75px; /* 218.75% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: #101020;
  text-align: center;
  font-family: "Raleway";
  font-size: 12.9px;
  font-style: normal;
  font-weight: 600;
  line-height: 29.75px; /* 250% */
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #db9457;
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

.home-navbar .navbar-container .header-frame {
  margin-top: 134px;
  width: 100%;
  height: 637px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home-navbar .navbar-container .header-frame .detail {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.home-navbar .navbar-container .header-frame .detail .service-txt {
  margin-top: 60px;
  color: #db9457;
  font-family: "Raleway";
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px; /* 175% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home-navbar .navbar-container .header-frame .detail .head-main-txt {
  width: 423.035px;
  margin-top: 8px;
  color: #101020;
  font-family: "Playfair Display";
  font-size: 53.1px;
  font-style: normal;
  font-weight: 500;
  line-height: 58.44px; /* 110.056% */
}

.home-navbar .navbar-container .header-frame .detail .dBaWmh {
  margin-top: 20px;
  width: 40px;
}

.home-navbar .navbar-container .header-frame .detail .wel-txt {
  margin-top: 44px;
  width: 460.51px;
  color: #3a3a3b;
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.75px; /* 175% */
}

.home-navbar .navbar-container .header-frame .detail .signup {
  margin-top: 73px;
}

.home-navbar .navbar-container .header-frame .detail .signup .signup-button {
  width: 210px;
  height: 60px;
  border: 2px solid #db9457;
  padding: 13px 37.695px 14.75px 38px;
  background: white;
  color: #666;
  text-align: center;
  font-family: Raleway;
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.75px; /* 218.75% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.signup-button:hover {
  background: #db9457;
  color: #fff;
}

.other-navbar {
  width: 100%;
  height: 400px;
  display: flex;
  background: url("/public/img/banner.webp");
  background-size: cover;
}

.other-navbar .navbar-container {
  margin-top: 55px;
}

.other-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .links {
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .login-button {
  padding: 13px 37.695px 14.75px 38px;
  color: #666;
  text-align: center;
  font-family: "Raleway";
  font-size: 13.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.75px; /* 218.75% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.other-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.other-navbar a {
  text-decoration: none;
}

.other-navbar .hover-line a {
  color: #f8f8ff;
  z-index: 100;
}

.other-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #db9457;
}

.other-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

/* BASKET */

.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  border-radius: 16px;
}

.basket-frame .all-check-box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #d7b586;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #343434;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.basket-order .price {
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}
